<!-- this is the powerpoint slideshow, put images in static/img/ppowerpoint, powerpoint web exporter works best for getting them -->

<!-- HTML STARTS HERE -->

<!DOCTYPE html>
<html>

<head> 
                    <script src="https://d3js.org/d3.v4.js"></script>
                    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                    <script type="text/javascript" src="{{ url_for('static', filename='js/dataDiVR_API.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/main_UI.js') }}"></script>
</head>
<style>


</style>
<body>
 <img id = "powerpoint"  />
</body>